img{width: 50%;}
main{font-family: 'Sora', sans-serif;}
h1{text-align: center;}
h2{margin-left: 3%;}
article{
    display: flex;
    margin-bottom: 7%;
    align-items: center;
    justify-content: space-around;
}
article p{width: 40%;}